/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 90px);
    row-gap: $gutter;

    &__item {
      height: 90px;
    }

    &--fixing {
      grid-template-columns: repeat(6, 90px);
    }
  }

  .card__container {
    grid-template-columns: repeat(3, 300px);
  }
}

@media only screen and (max-width : 992px) {
  .main-header__logo {
    margin: 6px 0;
  }

  .section--white .text {
    margin-top: $gutter*2;
    padding-left: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 90px);
    row-gap: $gutter*2;

    &__item {
      height: 90px;
    }

    &--fixing {
      grid-template-columns: repeat(3, 90px);
    }
  }

  .card__container {
    grid-template-columns: repeat(2, 300px);
    row-gap: $gutter*4;
  }
}

@media only screen and (max-width : 767px) {

  .section--stone, .section--fixing {
    .text {
      margin-bottom: $gutter*2;
      padding-right: 0;
    }
  }

  .gallery {
    grid-template-columns: repeat(5, 90px);
    row-gap: $gutter;

    &__item {
      height: 90px;
    }
  }

  .card__container {
    grid-template-columns: 300px;
    row-gap: $gutter*3;
    justify-content: center;
  }

  .card {
    height: auto;
    width: 300px;
    margin: 0;

    h4 {
      margin: $gutter 0;
    }
  }

  .footer__copyright, .footer__address {
    margin-bottom: $gutter;
  }

  .image-gallery-slide-wrapper {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width : 575px) {
  .footer__copyright,
  .footer__address,
  .footer__email {
    padding: 0 $gutter;
  }

  .image-gallery-slide-wrapper {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width : 480px) {
  .gallery {
    grid-template-columns: repeat(3, 90px);
    row-gap: $gutter;

    &__item {
      height: 90px;
    }
  }

  .image-gallery-slide-wrapper {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width : 320px) {
  .image-gallery-slide-wrapper {
    width: 200px;
    height: 200px;
  }
}